@font-face {
	font-family: "Droid_Sans_Arabic";
	src: url('../fonts/DroidSansArabic.eot');
	src: url('../fonts/DroidSansArabic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/DroidSansArabic.svg#Droid Sans Arabic') format('svg'),
	url('../fonts/DroidSansArabic.woff') format('woff'),
	url('../fonts/DroidSansArabic.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
